body {
    display: flex;
    flex-direction: column;
    background-color: #202026;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar a {
  padding: 24px 24px 24px 12px;
  font-size: 25px;
  text-decoration: none;
  color: #cbc5ff;
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
