@font-face {
  font-family: Agave;
  src: url(./agave-nerd-mono.ttf);
}

body {
    display: flex;
    font-family: Agave, monospace;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #202026;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000000;
}

.sidebar a {
  padding: 24px 48px 24px 12px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #cbc5ff;
}

.sidebar .header {
  padding: 24px 48px 24px 12px;
  font-size: 2rem;
  text-decoration: none;
  font-style: italic;
  color: #cbc5ff;
}

.sidebar a.active {
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
