.box .main {
  flex-direction: column;
  flex: 1;
  flex-wrap: nowrap;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 100vh;
  font-size: 2rem;
  color: #e6e3fe;
}
.box .main .icon {
  font-size: 4rem;
}

.box .main .icon-text {
  font-size: 1.5rem;
}
  