.box .main {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: nowrap;
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 100vh;
  font-size: 1.5rem;
  color: #e6e3fe;
}

.box .main .header {
  padding-left: 2rem;
  padding-right: 2rem;
}